*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(32, 31, 31);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo_photo{
    width: 150px;
}
.menu{
    display: flex;
}
.li{
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;

}
.li:hover{
    color: red;
}
.banner-img{
    width: 300px;
}
.banner_container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /*border: 2px solid gray;*/
    background-image: url(./images/background.png),
    linear-gradient(45deg,#121212,#000);
    color: white;
    justify-content: space-around;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.des{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    border-radius: 10px;
    color: white;
    border: none;

}
.about-header{
    text-align: center;
    font-size: 30px;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.header-title{
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
}
.about-para{
    font-size: 18 px;
    margin-top: 15px;
    margin-bottom: 15px;
}
